# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.lock.hcl

# Sensitive files
terraform.tfvars
terraform.tfvars.json
*.pem
*.pfx
*.key

# Local artifacts
*.zip
*.log
*.bak
fortigate_config.txt
tfplan
tf_outputs.json
